*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Georgia;
}

ul, nav{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flexox;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 35px 100px 0px;
}

header h2{
    text-transform: uppercase;
}

header nav{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
}

header nav li{
    margin: 0 15px;
}

header nav li:first-child{
    margin-left: 0;
}

header nav li:last-child{
    margin-right: 0;
}

@media(max-width: 1000px){
    header{
        padding:20px 50px;
    }
}

@media(max-width: 700px){
    header{
        flex-direction: column;
    }
    header h2{
        margin-bottom: 15px;
    }

    header nav li{
        margin: 0 7px;
    }
}
/* banner area */
section{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
}

@media(max-width: 1000px){
    section{
        padding:100px 50px;
    }
}

@media(max-width: 600px){
    section{
        padding:125 30px;
    }
}

section p{
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

.banner-area{
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
}

.banner-area .banner-img{
    background-image: url(tree.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.banner-area .banner-img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .8;
}

.banner-area h1{
    margin-bottom: 15px;
    font-size: 50px;
    font-family: merienda;
}

.banner-area h3{
    margin-bottom: 35px;
    font-size: 25px;
}

.banner-area a.banner-btn{
    padding: 15px 35px;
    background: crimson;
    border-radius: 50px;
    text-transform: uppercase;
}

@media (max-width: 800px){
    .banner-area{
        min-height: 600px;
    }
    .banner-area h1{
        font-size: 32px;
    }
    .banner-area h3{
        font-size: 20px;
    }
    .banner-area a.banner-btn{
        padding: 15px 40px;
    }
}

/* About Area */

.section-title{
    font-size: 35;;
}

ul.about-content{
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-content li{
    padding: 20px;
    height: 290px;
    background-clip: content-box;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.about-left{
    flex-basis: 40%;
    background-image: url(tree.jpg);
    border-radius: 22px;
   
}

.about-right{
    flex-basis: 60%;
}

.about-content h2{
    text-align: center;
}
.about-content p{
    text-align: justify;
}

.banner-area p{
    max-width: 800px;
    margin-bottom: 35px;
    left: 1.5;
    text-align: left;
    padding-left: 0;
}

.section-title{
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 5%;
}

.about-right h2{
    margin-bottom: 3%;
}

.about-btn{
    padding: 15px 35px;
    background-color: crimson;
    border-radius: 50px;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 1000px){
    .about-left,
    .about-right{
        flex-basis: 100%;
    }
    .about-content li{
        padding: 8px;
    }
    .about-btn{
        margin-left: 60px;
        margin-bottom: 30px;
    }
}

@media (max-width: 800px){
    .section-title{
        font-size: 30px;
    }
}

/* Service Area */

#services{
    background: #ddd;
}

ul.services-content{
    width: 100%;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services-content li{
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.services-content li i{
    font-size: 50px;
    color: crimson;
    margin-bottom: 25px;
}

.services-content li h4{
    font-size: 20px;
    margin-bottom: 25px;
}

.services-content li p{
    margin: 0;
}

@media (max-width: 1000px){
    .services-content li{
        flex-basis: 100%;
        margin-bottom: 65px;
    }

    .services-content li:last-child{
        margin-bottom: 0;
    }

    .services-content li p{
        padding: 0;
    }
}
@media (max-width: 800px){
    .section-title{
        font-size: 25px;
    }
}

/* Contact area */

#contact{
    background-color: lightblue;
}

ul.contact-content{
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact-content li{
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.contact-content li i{
    font-size: 50px;
    color: crimson;
    margin-bottom: 25px;
}

.contact-content li p{
    margin: 0;
}

@media (max-width: 1000px){
    .contact-content li{
        flex-basis: 100%;
        margin-bottom: 65px;
    }

    .contact-content li:last-child{
        margin-bottom: 0;
    }

    .contact-content li p{
        padding: 0;
    }
}

@media (max-width: 800px){
    .section-title{
        font-size: 30px;
    }
}

/* footer */

footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #000;
    padding: 60px 0;
}

.photo-area{
    background-color: lightgray;
}

.photos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.photo-img{
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 0 20px 20px;
    border-radius: 22px;
}

.photo-area h3{
    margin-bottom: 70px;
    font-size: 35px;
    text-transform: uppercase;
}

footer P{
    font-size: 40px;
}

@media(max-width: 768px){
    footer p{
        font-size: 20px;
    }
}

@media (min-width: 1000px){
    .photos{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 80px;
    }
    .photo-img{
        width: 220px;
        background-position: center;
        background-size: cover;
        padding-top: 20px;
    }
}

@media (max-width: 768px){
    .section-title{
        font-size: 25px;
    }
}

.logo{
    width: 30px;
    height: 30px;
}

i{
    margin-bottom: 15px;
}

