*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}



@media (max-width: 768px){
    .about-area #camara{
        margin-right: 8%;
    }

    .services-area #serv{
        margin-right: 8%;
    }

    .photo-area #photos{
        margin-right: 8%;
    }

    .contact-area #cont{
        margin-right: 8%;
    }
}


body{
    font-family: Georgia;
}

body::-webkit-scrollbar {
    display: none;
  }

ul, nav{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flexox;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 35px 100px 0px;
}

nav li :hover{
    color: crimson;
}

header h2{
    text-transform: uppercase;
}

header nav{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
}

@media (min-width: 790px){
    header nav{
        width: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: -o-flex;
        display: flex;
          justify-content: space-evenly;
    font-size: 25px;
    }
}



header nav li{
    margin: 0 15px;
}

header nav li:first-child{
    margin-left: 0;
}

header nav li:last-child{
    margin-right: 0;
}

@media(max-width: 1000px){
    header{
        padding:20px 50px;
    }
}

@media(max-width: 768px){
    header{
        flex-direction: column;
    }
    header h2{
        margin-bottom: 15px;
    }

    header nav li{
        margin: 0 7px;
    }
}
/* banner area */
section{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
}

@media(max-width: 1000px){
    section{
        padding:100px 50px;
    }
}

@media(max-width: 768px){
    section{
        padding:125 30px;
    }
}

section p{
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

.banner-area{
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
}

.banner-area .banner-img{
    background-image: url(tree.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.banner-area .banner-img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .8;
}

.banner-area h1{
    margin-bottom: 15px;
    font-size: 50px;
    font-family: merienda;
}

.banner-area h3{
    margin-bottom: 35px;
    font-size: 25px;
}

.banner-area a.banner-btn{
    padding: 15px 35px;
    background: crimson;
    border-radius: 50px;
    text-transform: uppercase;
    border: none;
    outline: none;
}

@media (max-width: 800px){
    .banner-area{
        min-height: 600px;
    }
    .banner-area h1{
        font-size: 32px;
    }
    .banner-area h3{
        font-size: 20px;
    }
    .banner-area a.banner-btn{
        padding: 15px 40px;
    }
}

/* About Area */

.section-title{
    font-size: 35;;
}

.about-area{
    background: #ddd;
    border-bottom: 2px solid grey;
}

.about-content li{
    padding: 20px;
    height: 290px;
    background-clip: content-box;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.about-left{
    flex-basis: 40%;
    background-image: url(tree.jpg);
    border-radius: 18px;
   
}

.about-right{
    flex-basis: 60%;
}

.about-content h2{
    text-align: center;
}
.about-content p{
    text-align: justify;
}

.banner-area p{
    max-width: 800px;
    margin-bottom: 35px;
    left: 1.5;
    text-align: left;
    padding-left: 0;
}

.section-title{
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 5%;
}

.about-right h2{
    margin-bottom: 3%;
}

.about-btn{
    padding: 15px 35px;
    background-color: crimson;
    border-radius: 50px;
    text-transform: uppercase;
    color: #fff;
    margin-left: 20px;
    margin-top: 20px;
}

.about-infomation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-area i{
    font-size: 50px;
    color: #424140;
    margin-bottom: 25px;
}


@media (max-width: 1000px){
    .about-left,
    .about-right{
        flex-basis: 100%;
    }
    .about-content li{
        padding: 8px;
    }
}

@media (max-width: 768px){
    .section-title{
        font-size: 30px;
    }

    .about-infomation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-btn{
        margin-left: 0px;
        margin-top: 15px;
    }
}

.about-infomation{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Service Area */

#services{
    background: #ddd;
    border-bottom: 2px solid grey;
}

@media (max-width: 1440px){
    #camara{
        margin-right: 2%;
    }
    #serv{
        margin-right: 2%;
    }
    
    #photos{
        margin-right: 2%;
    }
    
    #cont{
        margin-right:  2%;
    }    
} 
/* @media (min-width: 790px){
    .photo-area h3{
        margin-left: 2%;
    }

    .about-area h3{
        margin-left: 2%;
    }
    
    .services-area h3{
        margin-left: 2%;
    }

    .photo-area h3{
        margin-left: 2%;
    }

    .contact-area h3{
        margin-left: 2%;
    } */
    /* #photos{
        margin-right: 8%;
    }
    
    #cont{
        margin-right: 8%;
    }     */
/* } */

/* ul.services-content{
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

.services-content li{
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.services-content li i{
    font-size: 50px;
    color: #424140;
    margin-bottom: 25px;
}

.services-content li h4{
    font-size: 20px;
    margin-top: 10px;
    text-decoration: underline;
}

.services-content li p{
    margin-top: 20px;
    margin: 0;
}

.services-area i{
    font-size: 50px;
    color: #424140;
    margin-bottom: 25px;
}

@media (max-width: 1000px){
    .services-content li{
        flex-basis: 100%;
        margin-bottom: 65px;
    }

    .services-content li:last-child{
        margin-bottom: 0;
    }

    .services-content li p{
        padding: 0;
    }
}
@media (max-width: 800px){
    .section-title{
        font-size: 25px;
    }
}

/* Contact area */

#contact{
    background: #ddd;
    border-bottom: 2px solid grey;
}

/* ul .contact-content{
    width: 100%;
    height: 100px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */

.contact-content li{
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.contact-area i{
    color: #424140;
}

.contact-content li i{
    font-size: 50px;
    color: #424140;
    margin-bottom: 25px;
}

.contact-content li p{
    margin: 0;
}

/* @media (max-width: 1000px){
    .contact-content li{
        flex-basis: 100%;
        margin-bottom: 65px;
    }

    .contact-content li:last-child{
        margin-bottom: 0;
    }

    .contact-content li p{
        padding: 0;
    }
}

@media (max-width: 767px){
    .section-title{
        font-size: 30px;
    }
} */

/* footer */

footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #000;
    padding: 60px 0;
}

.photo-area{
    background: #ddd;
    border-bottom: 2px solid grey;
}

.photos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.photo-img{
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 0 20px 20px;
    border-radius: 25px;
}

.photo-area h3{
    margin-bottom: 70px;
    font-size: 35px;
    text-transform: uppercase;
}

footer P{
    font-size: 40px;
}

@media(max-width: 768px){
    footer p{
        font-size: 20px;
    }
}

@media (min-width: 1000px){
    .photos{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 80px;
    }
    .photo-img{
        width: 180px;
        background-position: center;
        background-size: cover;
        padding-top: 20px;
    }
}

@media (max-width: 767px){
    .section-title{
        font-size: 25px;
    }
    .photo-img{
        width: 130%;
    }
}

.logo{
    width: 30px;
    height: 30px;
}

i{
    margin-bottom: 15px;
}

.call a,i{
    margin-left: 30px;
    margin-top: 24px;
}

.services-content li{
    border: 1px solid grey;
    border-radius: 5px;
}

.call i{
    color: rgb(80, 47, 201);
}

.logo{
    width: 80px;
    height:80px;
    background-size: cover;
    border-radius: 50%;
}

.photo-area i{
    color: #424140;
}

.about-infomation-content{
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
}

.contact-area .address{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    margin-bottom: 50px;
    border-radius: 5px;
    
}

.contact-area .address h2{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 22px;
}

.about-infomation-content #head{
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 10px;
}

.about-infomation-content #main{
    margin: 0;
    padding: 1;
    line-height:30px;
}

.dealers{
    width: 100%;
    font-size: 14px;
    margin-top: 40px;
}

@media (min-width: 790px){
    .contact-content{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .call{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid grey;
        margin-bottom: 50px;
        border-radius: 5px;
    }
    .truck{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid grey;
    }

    .truck p{
        margin-top: 60px;
    }
    .truck i{
        margin-top: 20px;
    }

    .info{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .telno{
        margin-bottom: 30px;
        font-size: 16px;
        font-weight: 600;
    }

    #number{
        margin-bottom: 70px;
        margin-right: 30px;
    }
}

@media (max-width: 768px){
    .contact-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .call{
        width: 100%;
        display: flex;
        align-items: center; 
        justify-content: space-evenly; 
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        border: 1px solid grey;
        /* width: 100%;
        border: 1px solid grey;
        display: flex;
        margin-bottom: 50px;
        border-radius: 5px; */
    }
   .truck{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 1px solid grey;
    }

    .info{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .truck p{
        font-weight: 600;
        font-size: 13px;
        width: 100%;
        margin-bottom: 10px;
    }

    .telno{
        margin-bottom: 30px;
    }

    .info i{
        margin-right: 25px;
    }

}


.truck i{
    margin-right: 30px;
    margin-bottom: -20px;
    color: black;
}

footer p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#next{
    font-size: 20px;
}





